<CENTER>

<TABLE ID="aboutTable" WIDTH="80%" HEIGHT="100%"><TR><TD VALIGN="middle" ALIGN="center">

<H2 CLASS="header">What is Hermes?</H2>

 <P>
Hermes is an ordering interface intended primarily for bars and restaurants, allowing customers to use their phones to place orders, pay their tabs, play games, and interact socially with others in the restaurant.
 </P>

 <P>
Hermes was built by Ben Turner as a final project for his NYU-ITP Redial class.  The project uses Rackspace, node.js, socket.io, Asterisk, Flowroute, and is hosted on Github.
 </P>

</TD></TR></TABLE>

</CENTER>