<script type="text/javascript" src="/js/tinyphone_client.js"></script>
<script>
var phoneNumber = "1.936.755.1046";
tinyphone.init("108.166.73.53",12003,phoneNumber);
tinyphone.on('connect', function(){
	var d = document.getElementById("connected");
	d.innerHTML="connected to server";
});
tinyphone.on('disconnect', function(){
	var d = document.getElementById("connected");
	d.innerHTML="disconnected";
});
tinyphone.on('new_call', function(caller){
	var parent = document.getElementById("call_list");
	var newdiv = document.createElement('div');
  	var divIdName = caller.id;
  	newdiv.setAttribute('id',divIdName);
  	newdiv.innerHTML = 'Caller '+caller.callerNumber;
  	parent.appendChild(newdiv);
});
tinyphone.on('keypress', function(caller){
	var keypress = caller.keypress;
	var userNum = 1; // TODO: genericize this
	//if (keypress == '*'|| keypress == '#'){keypress='0'};
	//var keynum = parseInt(keypress);
	user[userNum].keyProc(keypress);
});
tinyphone.on('hangup', function(caller){
	var d = document.getElementById("call_list");
  	var olddiv = document.getElementById(caller.id);
	d.removeChild(olddiv);
});

var menuMainObj = {
	name : "Main Menu",
	upMenu : "Main",
	currentMenu : "Main",
	id : "",
	p : ["", "Order Food/Drinks", "Play Games", "Get News Updates", "Social"],
	pClick : ["", "Food", "Games", "News", "Social"]
}

var menuFoodObj = {
	name : "Food/Drinks Menu",
	upMenu : "Main",
	currentMenu : "Food",
	id : "",
	p : ["", "Beer", "Wine", "Liquor", "Non-Alcoholic Drinks", "Water", "Burger", "Specials", "Chips & Salsa"],
	pClick : ["", "Beer", "Wine", "Liquor", "Other", "Water", "Burger", "Specials", "Chips"]
}

var menuGamesObj = {
	name : "Games Menu",
	upMenu : "Main",
	currentMenu : "Games",
	id : "",
	p : ["", "Trivia", "Tetris"],
	pClick : ["", "Trivia", "Tetris"]
}

var menuSocialObj = {
	name : "Social Menu",
	upMenu : "Main",
	currentMenu : "Social",
	id : "",
	p : ["", "Send Drinks", "Flirt", "Record a Shout-Out"],
	pClick : ["", "SendDrinks", "Flirt", "ShoutOut"]
}

var menuSendDrinksObj = {
	name : "Send Drinks Menu",
	upMenu : "Social",
	currentMenu : "SendDrinks",
	id : "",
	p : ["", "Choose Table", "Choose Drinks", "Send Drinks"],
	pClick : ["", "ChooseSendTable", "Food", "SendOrder"]
}

var menuChooseSendTableObj = {
	name : "Choose a Table",
	type : "checkTable",
	upMenu : "SendDrinks",
	currentMenu : "ChooseSendTable",
	id : "",
	p : ["", "Table #1", "Table #2", "Table #3", "Table #4"],
	pClick : [0, 1, 2, 3, 4]
}

var menuChooseFlirtTableObj = {
	name : "Choose a Table",
	type : "checkTable",
	upMenu : "Flirt",
	currentMenu : "ChooseFlirtTable",
	id : "",
	p : ["", "Table #1", "Table #2", "Table #3", "Table #4"],
	pClick : [0, 1, 2, 3, 4]
}

var menuFlirtObj = {
	name : "Flirt Menu",
	upMenu : "Social",
	currentMenu : "Flirt",
	id : "",
	p : ["", "Choose Table", "Choose Message", "Send Message"],
	pClick : ["", "ChooseFlirtTable", "FlirtMsg", "SendFlirtMsg"]
}

var menuFlirtMsgObj = {
	name : "Flirt Message Menu",
	type : "flirtMsg",
	upMenu : "Flirt",
	currentMenu : "FlirtMsg",
	id : "",
	p : ["", "Bored. Wanna play?", "Buy me a drink?", "How's it going?", "I like your outfit!", "Cheers!"],
	pClick : [0, 1, 2, 3, 4, 5]
}

var menuShoutOutObj = {
	name : "Shout-Out Menu",
	upMenu : "Social",
	currentMenu : "ShoutOut",
	id : "",
	p : ["", "Record", "Save Shout-Out"],
	pClick : ["", "RecordShoutOut", "SaveShoutOut"]
}

var menuBeerObj = {
	name : "Beer Menu",
	type : "product",
	upMenu : "Food",
	currentMenu : "Beer",
	id : ["", <% for (var i=0; i<menu.length; i++) { if (menu[i].menuType == "Beer") { %>"<%= menu[i]._id %>", <% } } %>],
	p : ["", <% for (var i=0; i<menu.length; i++) { if (menu[i].menuType == "Beer") { %>"<%= menu[i].menuName %>", <% } } %>]
}

var menuWineObj = {
	name : "Wine Menu",
	type : "product",
	upMenu : "Food",
	currentMenu : "Wine",
	id : ["", <% for (var i=0; i<menu.length; i++) { if (menu[i].menuType == "Wine") { %>"<%= menu[i]._id %>", <% } } %>],
	p : ["", <% for (var i=0; i<menu.length; i++) { if (menu[i].menuType == "Wine") { %>"<%= menu[i].menuName %>", <% } } %>]
}

var menuLiquorObj = {
	name : "Liquor Menu",
	type : "product",
	upMenu : "Food",
	currentMenu : "Liquor",
	id : ["", <% for (var i=0; i<menu.length; i++) { if (menu[i].menuType == "Liquor") { %>"<%= menu[i]._id %>", <% } } %>],
	p : ["", <% for (var i=0; i<menu.length; i++) { if (menu[i].menuType == "Liquor") { %>"<%= menu[i].menuName %>", <% } } %>]
}

var menuCheckOrderObj = {
	name : "Check Your Order & Tab",
	type : "orderTab",
	upMenu : "Main",
	currentMenu : "CheckOrder",
	id : "",
	p : ["", "Place Order", "Cancel Order", "Close Your Tab", ""],
	pClick : ["", "user[userNum].placeOrder();", "user[userNum].cancelOrder();", "user[userNum].closeTab();"],
	statusMsg : "Order sent!"
}

var menuTriviaObj = {
	name : "Trivia Menu",
	type : "trivia",
	upMenu : "Games",
	currentMenu : "Trivia",
	id : "",
	p : ["", "A1", "A2", "A3", "A4", "Get New Question", "Quit"]
}

<%
for (var i=0; i<menu.length; i++) {
	if (menu[i].menuName == "Burger") {
		var menuFood6Obj = menu[i];
	}
}
%>

var menuNewsObj = {};

var getNews = function(userNum) {
	$.ajax({
		url: "https://ajax.googleapis.com/ajax/services/search/news?v=1.0&topic=h&rsz=8",
		type: "GET",
		dataType : 'jsonp',
    	jsonp : 'callback',
		success: function(response) {
            var newsList = response.responseData.results;
            var menuNewsObj = {
				name : "News Headlines",
				upMenu : "Main",
				currentMenu : "News",
				id : "",
				p : ["", <% for (var i=0; i<8; i++) { %>newsList[<%= i %>].title, <% } %>]
			}
			user[userNum].upMenu = "Main";
			user[userNum].currentMenu = "News";
			fillMenu(userNum, menuNewsObj);
        }, 
        error : function(error) {
            console.log("There was an error fetching the JSON.");
            console.log(error);
        }
	});
};

function User(userNum) {
	var self = this;

	this.upMenu = "Main";
	this.currentMenu = "Main";

<%
for (var i=0; i<menuFood6Obj.menuOptions.length; i++) {
	var k = i + 1;
%>	this.menuFood6_select<%= k %> = false;
<% } %>

	this.order = {
		toBuy : [],
		toTable : 0
		// TODO: reset after order is sent, because if you send
		// drinks to other people, variable changes
	};
	this.tab = {
		toBuy : []
	};
	this.flirt = {
		toTable : 0,
		msg : 0
	}

	this.buy = function(itemID) {
		this.order.toBuy.push(itemID);
		this.getMenu(this.order.toBuy);
		$("#user" + userNum + "_pMsg").html('Added to order!');
		$("#user" + userNum + "_pMsg").css('display','block');
	};
	// TODO: seems to be removing wrong items if right items all gone
	this.remove = function(itemID) {
		this.order.toBuy.pop(itemID);
		this.getMenu(this.order.toBuy);
		$("#user" + userNum + "_pMsg").html('Removed from order!');
		$("#user" + userNum + "_pMsg").css('display','block');
	};
	// not very secure, move to db
	this.printOrder = function(menu, toBuy) {
		var newHTML = "<B>Your Current Open Order:</B><BR />";
		if (user[userNum].order.toBuy.toTable != 0 && user[userNum].order.toBuy.toTable != undefined) {
			newHTML += "(will be sent to Table #" + user[userNum].order.toBuy.toTable + ")<BR />";
		}
		var totalCost = 0;
		var found = false;
		for (var i=0; i<menu.length; i++) {
			for (var j=0; j<toBuy.length; j++) {
				if (menu[i]._id == toBuy[j]) {
					var tempHTML = menu[i].menuName + " :: $" + menu[i].menuCost.toFixed(2) + "<BR />";
					newHTML += tempHTML;
					totalCost += menu[i].menuCost;
					found = true;
				}
			}
		}
		newHTML += "<B>Total: $" + totalCost.toFixed(2);
		newHTML += "<BR /><BR />";
		newHTML += "<B>Your Current Check/Tab Total:</B><BR />";
		newHTML += "<B>Total: $" + totalCost.toFixed(2);
		$("#user" + userNum + "_currentOrder").html(newHTML);
		$("#user" + userNum + "_currentOrder").css('display','block');
	};
	// TODO: should just generate order and pass to tab
	this.placeOrder = function() {
		$.ajax({
            url : '/emailConfirm',
            type : 'POST',
            data : this.order, 
            dataType : 'json',
            
            success : function(response) {
                if (response.status == "OK") {
                    console.log("order sent");
                    $("#user" + userNum + "_pMsg").html("Your order has been placed!");
					$("#user" + userNum + "_pMsg").css('display','block');
					$("#user" + userNum + "_currentOrder").html("Nothing ordered yet!");
					$("#user" + userNum + "_currentOrder").css('display','block');
					user[userNum].order = { toBuy : [], toTable : 0 };
					user[userNum].tab = { toBuy : [] };
                }
            }, 
            error : function(error) {
                console.log("There was an error");
                console.log(error);
            }
            
        });
	}
	this.cancelOrder = function() {
		user[userNum].order = { toBuy : [], toTable : 0 };
		$("#user" + userNum + "_pMsg").html("Order canceled!");
		$("#user" + userNum + "_pMsg").css('display','block');
		$("#user" + userNum + "_currentOrder").html("Nothing ordered yet!");
		$("#user" + userNum + "_currentOrder").css('display','block');
	}
	// TODO: fix this for tab and not just for order
	this.closeTab = function() {
		$.ajax({
            url : '/emailConfirm',
            type : 'POST',
            data : this.order, 
            dataType : 'json',
            
            success : function(response) {
                if (response.status == "OK") {
                    console.log("order sent");
                    $("#user" + userNum + "_pMsg").html("Your tab has been closed! Please go pay. :)");
					$("#user" + userNum + "_pMsg").css('display','block');
					$("#user" + userNum + "_currentOrder").html("Nothing ordered yet!");
					$("#user" + userNum + "_currentOrder").css('display','block');
					user[userNum].order = { toBuy : [], toTable : 0 };
					user[userNum].tab = { toBuy : [] };
                }
            }, 
            error : function(error) {
                console.log("There was an error");
                console.log(error);
            }
            
        });
	}
	this.getMenu = function(toBuy) {
		$.ajax({
			url: "/menu/json",
			type: "GET",
			dataType: "json",
			success: function(response) {
				if (response.status == "OK") {
	                console.log("JSON retrieved");
	                menu = response.menu;
	                self.printOrder(menu, toBuy);
	            }
	        }, 
	        error : function(error) {
	            console.log("There was an error fetching the JSON.");
	            console.log(error);
	        }
		});
	};
	this.updateNav = function(menuCurrent) {
		eval("user[userNum].upMenu = menu" + menuCurrent + "Obj.upMenu");
		eval("user[userNum].currentMenu = menu" + menuCurrent + "Obj.currentMenu");
	}
	this.loadMenu = function(menuCurrent) {
		this.updateNav(menuCurrent);
		eval("var newMenuObj = menu" + menuCurrent + "Obj");
		$("#user" + userNum + "_pMsg").css('display','none');
		if (menuCurrent != "News") {
			for (var i=1; i<=8; i++) {
				$("#user" + userNum + "_" + i).css('font-size', '30pt');
			}
			fillMenu(userNum, newMenuObj);
		}
		else {
			getNews(userNum);
			for (var i=1; i<=8; i++) {
				$("#user" + userNum + "_" + i).css('font-size', '15pt');
			}
		}
		if (menuCurrent == "CheckOrder") {
			$("#user" + userNum + "_currentOrder").css('display','block');
		}
		else {
			$("#user" + userNum + "_currentOrder").css('display','none');
		}
	};
	this.viewItem = function(currentMenu, menuName, menuID) {
		$("#user" + userNum + "_pName").html(menuName);
		$("#user" + userNum + "_pName").attr("title", menuID);
		user[userNum].updateNav(currentMenu);
		console.log(currentMenu);
		var viewTree = ["Add", "Remove"];
		for (var i=1; i<=8; i++) {
			$("#user" + userNum + "_choice" + i).css('display','none');
		}
		for (var j=0; j<viewTree.length; j++) {
			var k = j+1;
			$("#user" + userNum + "_" + k).html(viewTree[j]);
			$("#user" + userNum + "_goto" + 1).attr("onclick", "user[" + userNum + "].buy('" + menuID + "');");
			$("#user" + userNum + "_goto" + 2).attr("onclick", "user[" + userNum + "].remove('" + menuID + "');");
			$("#user" + userNum + "_choice" + k).css('display','block');
		}
	};
	this.keyProc = function(keypress) {
		if (self.currentMenu == "#user" + userNum + "_menuMain") {
			switch(keypress) {
				case "1" : loadMenu('Food'); break;
				case "2" : loadMenu('Games'); break;
				case "3" : loadMenu('News'); break;
				case "4" : loadMenu('Social'); break;
				default : console.log("No command found!"); // TODO: error voice msg
			}
		}
		else if (self.currentMenu == "#user" + userNum + "_menuFood") {
			switch(keypress) {
				case "1" : loadMenu('Beer'); break;
				case "2" : loadMenu('Wine'); break;
				case "3" : loadMenu('Liquor'); break;
				case "4" : loadMenu('Other'); break;
				case "5" : loadMenu('Water'); break;
				default : console.log("No command found!");
			}
		}
	};
}

var user = [];

for (var i=1; i<=4; i++) {
	user[i] = new User(i);
}

var checkTable = function(userNum, tableNum) {
	var baseMsg = "Table #" + tableNum;
	if (user[userNum].order.toBuy.toTable != tableNum) {
		for (var i=1;i<=4;i++) {
			$('#user' + userNum + "_" + i).html("Table #" + i);
		}
		user[userNum].order.toBuy.toTable = tableNum;
		var tempMsg = baseMsg + " <SPAN STYLE='color: yellow;'>(Selected)</SPAN>";
		$('#user' + userNum + "_" + tableNum).html(tempMsg);
	}
	else {
		user[userNum].order.toBuy.toTable = 0;
		$('#user' + userNum + "_" + tableNum).html(baseMsg);
	}
}

var flirtMsg = function(userNum, msgNum) {
	var baseMsg = menuFlirtMsgObj.p[msgNum];
	if (user[userNum].flirt.msg != msgNum) {
		for (var i=1; i<=menuFlirtMsgObj.p.length; i++) {
			$('#user' + userNum + "_" + i).html(menuFlirtMsgObj.p[i]);
		}
		user[userNum].flirt.msg = msgNum;
		var tempMsg = baseMsg + " <SPAN STYLE='color: yellow;'>(Selected)</SPAN>";
		$('#user' + userNum + "_" + msgNum).html(tempMsg);
	}
	else {
		user[userNum].flirt.msg = 0;
		$('#user' + userNum + "_" + msgNum).html(baseMsg);
	}
}

var fillMenu = function(userNum, newObj) {
	$("#user" + userNum + "_pName").html(newObj.name);
	$("#user" + userNum + "_pName").attr("title", newObj.id);
	$("#user" + userNum + "_diagram").css('display','none');
	for (var i=1; i<=8; i++) {
		if (newObj.p[i]) {
			if (newObj.type == "product") {
				var clickFunc = "user[" + userNum + "].viewItem('" + newObj.currentMenu + "', '" + newObj.p[i] + "', '" + newObj.id[i] + "');";
				$("#user" + userNum + "_" + i).html(newObj.p[i]);
			}
			else if (newObj.type == "orderTab") {
				switch (i) {
					case 1 :
						var clickFunc = "user[" + userNum + "].placeOrder();";
						$("#user" + userNum + "_" + i).html(newObj.p[i]);
						break;
					case 2 :
						var clickFunc = "user[" + userNum + "].cancelOrder();";
						$("#user" + userNum + "_" + i).html(newObj.p[i]);
						break;
					case 2 :
						var clickFunc = "user[" + userNum + "].closeTab();";
						$("#user" + userNum + "_" + i).html(newObj.p[i]);
						break;
				}
			}
			else if (newObj.type == "checkTable") {
				$("#user" + userNum + "_diagram").css('display','block');
				var clickFunc = "checkTable(" + userNum + ", " + newObj.pClick[i] + ");";
				if (user[userNum].order.toBuy.toTable == newObj.pClick[i]) {
					$("#user" + userNum + "_" + i).html(newObj.p[i] + " <SPAN STYLE='color: yellow;'>(Selected)</SPAN>");
				}
				else {
					$("#user" + userNum + "_" + i).html(newObj.p[i]);
				}
			}
			else if (newObj.type == "flirtMsg") {
				var clickFunc = "flirtMsg(" + userNum + ", " + newObj.pClick[i] + ");";
				if (user[userNum].flirt.msg == newObj.pClick[i]) {
					$("#user" + userNum + "_" + i).html(newObj.p[i] + " <SPAN STYLE='color: yellow;'>(Selected)</SPAN>");
				}
				else {
					$("#user" + userNum + "_" + i).html(newObj.p[i]);
				}
			}
			else if ("pClick" in newObj) {
				var clickFunc = "user[" + userNum + "].loadMenu('" + newObj.pClick[i] + "');";
				$("#user" + userNum + "_" + i).html(newObj.p[i]);
			}
			else {
				var clickFunc = "user[" + userNum + "].loadMenu('" + newObj.currentMenu + "');";
				$("#user" + userNum + "_" + i).html(newObj.p[i]);
			}
			if ("id" in newObj) {
				$("#user" + userNum + "_goto" + i).attr("title", newObj.id[i]);
			}

			$("#user" + userNum + "_goto" + i).attr("onClick", clickFunc);
			$("#user" + userNum + "_choice" + i).css('display','block');
		}
		else if (newObj.type == "trivia") {
			getTrivia(userNum);
		}
		else {
			$("#user" + userNum + "_choice" + i).css('display','none');
		}
	}
}

var trivia = [
	{
		id : 0,
		q : "What is the capital of Mongolia?",
		a : "Ulan Bator",
		a1 : "Tashkent",
		a2 : "Kathmandu",
		a3 : "Nangahar",
		a4 : "Ulan Bator"
	},
	{
		id : 1,
		q : "Who was the first 'Accidental President'?",
		a : "John Q. Adams",
		a1 : "John Tyler",
		a2 : "Gerald Ford",
		a3 : "John Q. Adams",
		a4 : "James Garfield",
	}
];

var getTrivia = function(userNum) {
	var randomQNum = $.newQuestionNum();
	$("#user" + userNum + "_pName").html(trivia[randomQNum].q);
	$("#user" + userNum + "_pName").attr("title", trivia[randomQNum].a);
	for (var j=1; j<=4; j++) {
		var clickFunc = "$.checkAnswer(" + userNum + ", " + j + ");";
		$("#user" + userNum + "_goto" + j).attr("onClick", clickFunc);
		$("#user" + userNum + "_choice" + j).css('display','block');
	}
	$("#user" + userNum + "_1").html(trivia[randomQNum].a1);
	$("#user" + userNum + "_2").html(trivia[randomQNum].a2);
	$("#user" + userNum + "_3").html(trivia[randomQNum].a3);
	$("#user" + userNum + "_4").html(trivia[randomQNum].a4);
	$("#user" + userNum + "_5").html("Get New Question");
	$("#user" + userNum + "_6").html("Quit");
	$("#user" + userNum + "_choice" + 5).css('display','block');
	$("#user" + userNum + "_choice" + 6).css('display','block');
	$("#user" + userNum + "_choice" + 7).css('display','none');
	$("#user" + userNum + "_choice" + 8).css('display','none');
}

</script>

<% 

var menuFood6 = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuFood6" CLASS="menuSide" STYLE="display: none;">

<DIV CLASS="menu left">
<% for (var i=0; i<menuFood6Obj.menuOptions.length; i++) { var k = i + 1; %>
<SPAN ID="user<%= userNum %>_menuFood6_select<%= k %>" onClick="if (user[<%= userNum %>].menuFood6_select<%= k %> == false) { $(this).css('color','yellow'); user[<%= userNum %>].menuFood6_select<%= k %> = true; } else { $(this).css('color','white'); user[<%= userNum %>].menuFood6_select<%= k %> = false; }"><SPAN CLASS="ext">[<%= k %>]</SPAN> <%= menuFood6Obj.menuOptions[i].optionName %></SPAN><BR />
<% } %><BR />
<SPAN CLASS="ext">[9]</SPAN> Buy
</DIV>

</DIV> <!-- /menuFood6 -->

<% } %>

<TABLE BORDER=0 WIDTH="100%" HEIGHT="100%" ID="mainTable">
<TR><TD VALIGN="top" STYLE="height: 1em;" ID="header">
<div id="phone_number">Hermes @ call <script>document.write(phoneNumber);</script> to begin</div>
</TD></TR>
<TR><TD WIDTH="100%" STYLE="padding: 0px;" VALIGN="top">

<DIV ID="bodyCell">

<% for (var i=1;i<=4;i++) { %>

<DIV ID="user<%= i %>" CLASS="user" STYLE="display: none;">

<span id="connected">x7983 :: disconnected</span><BR />
<span id="call_list"></span>

<DIV ID="user<%= i %>_menuPrototype" CLASS="menuSide">
<DIV CLASS="menu left">
<SPAN STYLE="font-size: 25pt;" ID="user<%= i %>_pName" TITLE=""></SPAN><BR />
<% for (var j=1; j<= 8; j++) { %>
<SPAN ID="user<%= i %>_choice<%= j %>"><SPAN CLASS="ext">[<A HREF="#" ID="user<%= i %>_goto<%= j %>" onClick="" TITLE=""><%= j %></A>]</SPAN> <SPAN ID="user<%= i %>_<%= j %>"></SPAN><BR /></SPAN>
<% } %>
<DIV ID="user<%= i %>_pMsg" CLASS="infoMsg" STYLE="display: none;"></DIV>
</DIV>
</DIV> <!-- /menuPrototype -->

<BR /><BR /><DIV ID="user<%= i %>_currentOrder" CLASS="currentOrder" STYLE="display: none;">Nothing ordered yet!</DIV>
<DIV ID="user<%= i %>_diagram" STYLE="display: none;"><IMG SRC='/img/diagram.jpg' WIDTH=200 HEIGHT=217 ALT='layout of tables in venue' BORDER=0></DIV>

</DIV> <!-- /user<%= i %> -->

<% } %>

</DIV> <!-- /bodyCell -->

</TD></TR>
<TR><TD STYLE="height: 1em;" WIDTH="100%" ID="footer">
<TABLE WIDTH="100%"><TR>
<TD WIDTH="33%" CLASS="menuBill"><SPAN CLASS="ext bill1">[<A HREF="#" ID="user1_gotoOrder" onClick="user[1].loadMenu('CheckOrder');">*</A>]</SPAN> Your Tab/Orders</TD>
<TD WIDTH="33%" CLASS="menuBill"><SPAN CLASS="ext bill1">[<A HREF="#" ID="user1_gotoBack">0</A>]</SPAN> Go Back</TD>
<TD WIDTH="33%" CLASS="menuBill"><SPAN CLASS="ext bill1">[#]</SPAN> Next Page (if available)</TD>
</TR></TABLE><BR />
<CENTER>powered by Hermes</CENTER>
</TD></TR>
</TABLE>

<SCRIPT TYPE="text/javascript">

$(function() {

	var numCallers = 2;

	//$("#user1_pName").html(menuMainObj.name);
	for (var i=0; i<4; i++) {
		fillMenu(i, menuMainObj);
	}

	for (var i=1;i<=numCallers;i++) {
		$("#user" + i).css('display','block');
	}

	if (numCallers == 1) {
		$("#user1").css('width','90%');
		$("#user2").css('display','none');
		$("#user1").css('float','left');
	}
	else if (numCallers == 2) {
		$("#user1").css('width','45%');
		$("#user2").css('width','45%');
		$("#user1").css('float','left');
		$("#user2").css('float','right');
		$(".menu").css('font-size','30pt');
		$(".ext").css('font-size','25pt');
	}
	else if (numCallers == 3) {
		$("#user1").css('width','30%');
		$("#user2").css('width','30%');
		$("#user3").css('width','30%');
		$("#user1").css('float','left');
		$("#user2").css('float','middle');
		$("#user3").css('float','right');
		$(".menu").css('font-size','30pt');
		$(".ext").css('font-size','25pt');
	}
	else if (numCallers == 4) {
		$("#user1").css('width','20%');
		$("#user2").css('width','20%');
		$("#user3").css('width','20%');
		$("#user4").css('width','20%');
		$("#user1").css('float','left');
		$("#user2").css('float','middle');
		$("#user2").css('float','middle');
		$("#user2").css('float','right');
		$(".menu").css('font-size','30pt');
		$(".ext").css('font-size','25pt');
	}

	$("#user1_gotoBack").click(function() {
		user[1].loadMenu(user[1].upMenu);
	});

	$.newQuestionNum = function () {
		var randomQNum = Math.floor(Math.random() * trivia.length);
		return randomQNum;
	};

	$.checkAnswer = function(userNum, guess) {
		if ($("#user" + userNum + "_pName").attr("title") == $("#user" + userNum + "_" + guess).html()) {
			$("#user" + userNum + "_pMsg").html('You got it right!');
		}
		else {
			$("#user" + userNum + "_pMsg").html('You got it wrong. :(');
		}
		$("#user" + userNum + "_pMsg").css('display','block');
	};

});
</SCRIPT>