<script type="text/javascript" src="/js/tinyphone_client.js"></script>
<script>
var phoneNumber = "1.936.755.1046";
tinyphone.init("108.166.73.53",12003,phoneNumber);
tinyphone.on('connect', function(){
	var d = document.getElementById("connected");
	d.innerHTML="connected to server";
});
tinyphone.on('disconnect', function(){
	var d = document.getElementById("connected");
	d.innerHTML="disconnected";
});
tinyphone.on('new_call', function(caller){
	var parent = document.getElementById("call_list");
	var newdiv = document.createElement('div');
  	var divIdName = caller.id;
  	newdiv.setAttribute('id',divIdName);
  	newdiv.innerHTML = 'Caller '+caller.callerNumber;
  	parent.appendChild(newdiv);
});
tinyphone.on('keypress', function(caller){
	var keypress = caller.keypress;
	var userNum = 1; // TODO: genericize this
	//if (keypress == '*'|| keypress == '#'){keypress='0'};
	//var keynum = parseInt(keypress);
	user[userNum].keyProc(keypress);
});
tinyphone.on('hangup', function(caller){
	var d = document.getElementById("call_list");
  	var olddiv = document.getElementById(caller.id);
	d.removeChild(olddiv);
});

<%
for (var i=0; i<menu.length; i++) {
	if (menu[i].menuName == "Burger") {
		var menuFood6Obj = menu[i];
	}
}
%>

function User(userNum) {
	var self = this;

	this.upMenu = "#user" + userNum + "_menuMain";
	this.currentMenu = "#user" + userNum + "_menuMain";

<%
for (var i=0; i<menuFood6Obj.menuOptions.length; i++) {
	var k = i + 1;
%>	this.menuFood6_select<%= k %> = false;
<% } %>

	// a list of all the menu DIVs
	// used by clearMenusX() to make DIVs invisible when menus change
	eval("this.menuList = ['#user" + userNum + "_menuMain', '#user" + userNum + "_menuBeer', '#user" + userNum + "_menuWine', '#user" + userNum + "_menuLiquor','#user" + userNum + "_menuFood', '#user" + userNum + "_menuFood6', '#user" + userNum + "_currentOrder', '#user" + userNum + "_menuBeer1', '#user" + userNum + "_menuPurchase', '#user" + userNum + "_menuNews', '#user" + userNum + "_menuGames', '#user" + userNum + "_menuTrivia']");

	this.order = {
		toBuy : []
	};
	this.tab = {
		toBuy : []
	};

	this.clearMenus = function(userNum) {
		for (var i=0;i<self.menuList.length;i++) {
			$(self.menuList[i]).css("display","none");
		}
	};

	this.buy = function(itemID) {
		this.order.toBuy.push(itemID);
		this.getMenu(this.order.toBuy);
	};
	this.remove = function(itemID) {
		this.order.toBuy.pop(itemID);
		this.getMenu(this.order.toBuy);
	};
	// not very secure, move to db
	this.printOrder = function(menu, toBuy) {
		var newHTML = "<B>Your Current Open Order:</B><BR />";
		var totalCost = 0;
		var found = false;
		for (var i=0; i<menu.length; i++) {
			for (var j=0; j<toBuy.length; j++) {
				if (menu[i]._id == toBuy[j]) {
					var tempHTML = menu[i].menuName + " :: $" + menu[i].menuCost.toFixed(2) + "<BR />";
					newHTML += tempHTML;
					totalCost += menu[i].menuCost;
					found = true;
				}
			}
		}
		newHTML += "<B>Total: $" + totalCost.toFixed(2);
		newHTML += "<BR /><BR />";
		newHTML += "<B>Your Current Check/Tab Total:</B><BR />";
		newHTML += "<B>Total: $" + totalCost.toFixed(2);
		$("#user" + userNum + "_currentOrder").html(newHTML);
		$("#user" + userNum + "_currentOrder").css('display','block');
	};
	this.printNews = function(newsList) {
		for (var i=0; i<8; i++) {
			var j=i+1;
			$("#user" + userNum + "_headline" + j).html(newsList[i].title);
		}
		$("#user" + userNum + "_menuNews").css('display','block');
	};
	this.getMenu = function(toBuy) {
		$.ajax({
			url: "/menu/json",
			type: "GET",
			dataType: "json",
			success: function(response) {
				if (response.status == "OK") {
	                console.log("JSON retrieved");
	                menu = response.menu;
	                self.printOrder(menu, toBuy);
	            }
	        }, 
	        error : function(error) {
	            console.log("There was an error fetching the JSON.");
	            console.log(error);
	        }
		});
	};
	this.getNews = function() {
		$.ajax({
			url: "https://ajax.googleapis.com/ajax/services/search/news?v=1.0&topic=h&rsz=8",
			type: "GET",
			dataType : 'jsonp',
        	jsonp : 'callback',
			success: function(response) {
				console.log(response);
	            var newsList = response.responseData.results;
	            self.printNews(newsList);
	        }, 
	        error : function(error) {
	            console.log("There was an error fetching the JSON.");
	            console.log(error);
	        }
		});
	};
	this.loadMenu = function(menuUp, menuCurrent) {
		self.upMenu = "#user" + userNum + "_" + menuUp;
		self.currentMenu = "#user" + userNum + "_" + menuCurrent;
		self.clearMenus(userNum);
		$("#user" + userNum + "_" + menuCurrent).css("display","block");
	};
	this.viewItem = function(menuType, menuName, menuID) {
		self.upMenu = "#user" + userNum + '_menu' + menuType;
		self.currentMenu = "#user" + userNum + '_menuPurchase';
		self.clearMenus(userNum);
		$("#user" + userNum + "_menuPurchaseName").html(menuName);
		$("#user" + userNum + "_menuPurchaseID").html(menuID);
		$("#user" + userNum + "_menuPurchase").css("display","block");
	};
	this.keyProc = function(keypress) {
		if (self.currentMenu == "#user" + userNum + "_menuMain") {
			switch(keypress) {
				case "1" : loadMenu('menuMain', 'menuFood'); break;
				case "2" : loadMenu('menuMain', 'menuGames'); break;
				case "3" : loadMenu('menuMain', 'menuNews'); break;
				case "4" : loadMenu('menuMain', 'menuSocial'); break;
				default : console.log("No command found!"); // TODO: error voice msg
			}
		}
		else if (self.currentMenu == "#user" + userNum + "_menuFood") {
			switch(keypress) {
				case "1" : loadMenu('menuFood', 'menuBeer'); break;
				case "2" : loadMenu('menuFood', 'menuWine'); break;
				case "3" : loadMenu('menuFood', 'menuLiquor'); break;
				case "4" : loadMenu('menuFood', 'menuOther'); break;
				case "5" : loadMenu('menuFood', 'menuWater'); break;
				default : console.log("No command found!");
			}
		}
	};
}

var user = [];

for (var i=1; i<=4; i++) {
	user[i] = new User(i);
}

</script>

<% var menuMain = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuMain" CLASS="menuSide">

<DIV CLASS="menu left">
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoFood" onClick="user[<%= userNum %>].loadMenu('menuMain', 'menuFood');">1</A>]</SPAN> Order Food/Drinks<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoGames" onClick="user[<%= userNum %>].loadMenu('menuMain', 'menuGames');">2</A>]</SPAN> Play Games<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoNews" onClick="user[<%= userNum %>].getNews(); user[<%= userNum %>].loadMenu('menuMain', 'menuNews');">3</A>]</SPAN> Get News Updates<BR />
<SPAN CLASS="ext">[4]</SPAN> Social
</DIV>

</DIV> <!-- /menuMain -->

<% }

var menuFood = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuFood" CLASS="menuSide" STYLE="display: none;">

<DIV CLASS="menu left">
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoBeer" onClick="user[<%= userNum %>].loadMenu('menuFood', 'menuBeer');">1</A>]</SPAN> Beer<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoWine" onClick="user[<%= userNum %>].loadMenu('menuFood', 'menuWine');">2</A>]</SPAN> Wine<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoLiquor" onClick="user[<%= userNum %>].loadMenu('menuFood', 'menuLiquor');">3</A>]</SPAN> Liquor<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoOtherDrinks" onClick="user[<%= userNum %>].loadMenu('menuFood', 'menuOther');">4</A>]</SPAN> Non-Alcoholic Drinks<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoWater" onClick="user[<%= userNum %>].loadMenu('menuFood', 'menuWater');">5</A>]</SPAN> Water<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoFood6" onClick="user[<%= userNum %>].loadMenu('menuFood', 'menuFood6');">6</A>]</SPAN> Burger<BR />
<SPAN CLASS="ext">[7]</SPAN> Fajita Burrito<BR />
<SPAN CLASS="ext">[8]</SPAN> Chips and Salsa<BR />
</DIV>

</DIV> <!-- /menuFood -->

<% }

var menuNews = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuNews" CLASS="menuSide" STYLE="display: none;">

<DIV CLASS="menu left">
<% for (var i=1; i<=8; i++) { %>
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoNews<%= i %>"><%= i %></A>]</SPAN> <SPAN ID="user<%= userNum %>_headline<%= i %>" CLASS="headline"></SPAN><BR />
<% } %>
</DIV>

</DIV> <!-- /menuNews -->

<% }

var menuBeer = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuBeer" CLASS="menuSide" STYLE="display: none;">

<DIV CLASS="menu left">
<% var counter = 1; for (var i=0; i<menu.length; i++) {
if (menu[i].menuType == "Beer") { %><SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoBeer<%= counter %>" TITLE="<%= menu[i]._id %>" onClick="user[<%= userNum %>].viewItem('<%= menu[i].menuType %>', '<%= menu[i].menuName %>', '<%= menu[i]._id %>');"><%= counter %></A>]</SPAN> <SPAN ID="user<%= userNum %>_nameBeer<%= counter %>"><%= menu[i].menuName %></SPAN><BR />
<% counter++; if (counter == 6) { %></DIV>

<DIV CLASS="menu right">
<% } } } if (counter > 5) { %></DIV> <% } %>

</DIV> <!-- /menuBeer -->

<% }

var menuWine = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuWine" CLASS="menuSide" STYLE="display: none;">

<DIV CLASS="menu left">
<% var counter = 1; for (var i=0; i<menu.length; i++) {
if (menu[i].menuType == "Wine") { %><SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoWine<%= counter %>" onClick="user[<%= userNum %>].viewItem('<%= menu[i].menuType %>', '<%= menu[i].menuName %>', '<%= menu[i]._id %>');"><%= counter %></A>]</SPAN> <%= menu[i].menuName %><BR />
<% counter++; if (counter == 6) { %></DIV>

<DIV CLASS="menu right">
<% } } } if (counter > 5) { %></DIV> <% } %>

</DIV> <!-- /menuWine -->

<% }

var menuLiquor = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuLiquor" CLASS="menuSide" STYLE="display: none;">

<DIV CLASS="menu left">
<% var counter = 1; for (var i=0; i<menu.length; i++) {
if (menu[i].menuType == "Liquor") { %><SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoLiquor<%= counter %>" onClick="user[<%= userNum %>].viewItem('<%= menu[i].menuType %>', '<%= menu[i].menuName %>', '<%= menu[i]._id %>');"><%= counter %></A>]</SPAN> <%= menu[i].menuName %><BR />
<% counter++; if (counter == 6) { %></DIV>

<DIV CLASS="menu right">
<% } } } if (counter > 5) { %></DIV> <% } %>

</DIV> <!-- /menuLiquor -->

<% }

var menuFood6 = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuFood6" CLASS="menuSide" STYLE="display: none;">

<DIV CLASS="menu left">
<% for (var i=0; i<menuFood6Obj.menuOptions.length; i++) { var k = i + 1; %>
<SPAN ID="user<%= userNum %>_menuFood6_select<%= k %>" onClick="if (user[<%= userNum %>].menuFood6_select<%= k %> == false) { $(this).css('color','yellow'); user[<%= userNum %>].menuFood6_select<%= k %> = true; } else { $(this).css('color','white'); user[<%= userNum %>].menuFood6_select<%= k %> = false; }"><SPAN CLASS="ext">[<%= k %>]</SPAN> <%= menuFood6Obj.menuOptions[i].optionName %></SPAN><BR />
<% } %><BR />
<SPAN CLASS="ext">[9]</SPAN> Buy
</DIV>

</DIV> <!-- /menuFood6 -->

<% }

var menuPurchase = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuPurchase" CLASS="menuSide" STYLE="display: none;">
<SPAN ID="user<%= userNum %>_menuPurchaseName" STYLE="font-size: 30pt;"></SPAN><BR />
<SPAN ID="user<%= userNum %>_menuPurchaseID" STYLE="display: none;"></SPAN>
<DIV CLASS='menu left'>
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_buy">1</A>]</SPAN> Purchase<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_remove">2</A>]</SPAN> Remove<BR />
<DIV ID="user<%= userNum %>_confirm" CLASS="infoMsg" STYLE="display: none;">Added to order!</DIV>
</DIV>
</DIV>

<% } 

var checkOpenOrder = function(userNum) { %>

<DIV ID="user<%= userNum %>_openOrder" CLASS="menuSide" STYLE="display: none;">
<DIV CLASS='menu left'>
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_sendOrder">1</A>]</SPAN> Finalize Order<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_cancelOrder">2</A>]</SPAN> Cancel Order<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_closeTab">3</A>]</SPAN> Close Your Tab<BR />
<DIV ID="user<%= userNum %>_confirmOrder" CLASS="infoMsg" STYLE="display: none;">Order sent!</DIV>
</DIV>
</DIV>

<% } 

var menuGames = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuGames" CLASS="menuSide" STYLE="display: none;">
<DIV CLASS='menu left'>
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoGames1">1</A>]</SPAN> Trivia<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoGames2">2</A>]</SPAN> Tetris
<DIV ID="user<%= userNum %>_confirmOrder" CLASS="infoMsg" STYLE="display: none;">Order sent!</DIV>
</DIV>
</DIV>

<% }

var menuTrivia = function(userNum) { %>

<DIV ID="user<%= userNum %>_menuTrivia" CLASS="menuSide" STYLE="display: none;">
<DIV CLASS="menu left">
<SPAN STYLE="font-size: 25pt;" ID="user<%= userNum %>_triviaQ" TITLE=""></SPAN><BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoTrivia1" onClick="$.checkAnswer(<%= userNum %>, 1);">1</A>]</SPAN> <SPAN ID="user<%= userNum %>_triviaA1"></SPAN><BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoTrivia2" onClick="$.checkAnswer(<%= userNum %>, 2);">2</A>]</SPAN> <SPAN ID="user<%= userNum %>_triviaA2"></SPAN><BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoTrivia3" onClick="$.checkAnswer(<%= userNum %>, 3);">3</A>]</SPAN> <SPAN ID="user<%= userNum %>_triviaA3"></SPAN><BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoTrivia4" onClick="$.checkAnswer(<%= userNum %>, 4);">4</A>]</SPAN> <SPAN ID="user<%= userNum %>_triviaA4"></SPAN><BR /><BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoTrivia5">5</A>]</SPAN> New Question<BR />
<SPAN CLASS="ext">[<A HREF="#" ID="user<%= userNum %>_gotoTrivia6">6</A>]</SPAN> Quit<BR />
<DIV ID="user<%= userNum %>_confirmAnswer" CLASS="infoMsg" STYLE="display: none;">Checking answer...</DIV>
</DIV>
</DIV> <!-- /menuBeer -->

<% } %>

<TABLE BORDER=0 WIDTH="100%" HEIGHT="100%" ID="mainTable">
<TR><TD VALIGN="top" STYLE="height: 1em;" ID="header">
<div id="phone_number">Hermes @ call <script>document.write(phoneNumber);</script> to begin</div>
</TD></TR>
<TR><TD WIDTH="100%" STYLE="padding: 0px;" VALIGN="top">

<DIV ID="bodyCell">

<% for (var i=1;i<=4;i++) { %>

<DIV ID="user<%= i %>" CLASS="user" STYLE="display: none;">

<span id="connected">x7983 :: disconnected</span><BR />
<span id="call_list"></span>

<%
menuMain(i);
menuGames(i);
menuTrivia(i);
menuNews(i);
menuBeer(i);
menuPurchase(i);
menuWine(i);
menuLiquor(i);
menuFood(i);
menuFood6(i);
checkOpenOrder(i);
%>

<BR /><BR /><DIV ID="user<%= i %>_currentOrder" CLASS="currentOrder" STYLE="display: none;">Nothing ordered yet!</DIV>

</DIV> <!-- /user<%= i %> -->

<% } %>

</DIV> <!-- /bodyCell -->

</TD></TR>
<TR><TD STYLE="height: 1em;" WIDTH="100%" ID="footer">
<TABLE WIDTH="100%"><TR>
<TD WIDTH="33%" CLASS="menuBill"><SPAN CLASS="ext bill1">[<A HREF="#" ID="user1_gotoOrder">*</A>]</SPAN> Your Tab/Orders</TD>
<TD WIDTH="33%" CLASS="menuBill"><SPAN CLASS="ext bill1">[<A HREF="#" ID="user1_gotoBack">0</A>]</SPAN> Go Back</TD>
<TD WIDTH="33%" CLASS="menuBill"><SPAN CLASS="ext bill1">[#]</SPAN> Next Page (if available)</TD>
</TR></TABLE><BR />
<CENTER>powered by Hermes</CENTER>
</TD></TR>
</TABLE>

<SCRIPT TYPE="text/javascript">

$(function() {

	var numCallers = 2;

	for (var i=1;i<=numCallers;i++) {
		$("#user" + i).css('display','block');
	}

	if (numCallers == 1) {
		$("#user1").css('width','90%');
		$("#user2").css('display','none');
		$("#user1").css('float','left');
	}
	else if (numCallers == 2) {
		$("#user1").css('width','45%');
		$("#user2").css('width','45%');
		$("#user1").css('float','left');
		$("#user2").css('float','right');
		$(".menu").css('font-size','30pt');
		$(".ext").css('font-size','25pt');
	}
	else if (numCallers == 3) {
		$("#user1").css('width','30%');
		$("#user2").css('width','30%');
		$("#user3").css('width','30%');
		$("#user1").css('float','left');
		$("#user2").css('float','middle');
		$("#user3").css('float','right');
		$(".menu").css('font-size','30pt');
		$(".ext").css('font-size','25pt');
	}
	else if (numCallers == 4) {
		$("#user1").css('width','20%');
		$("#user2").css('width','20%');
		$("#user3").css('width','20%');
		$("#user4").css('width','20%');
		$("#user1").css('float','left');
		$("#user2").css('float','middle');
		$("#user2").css('float','middle');
		$("#user2").css('float','right');
		$(".menu").css('font-size','30pt');
		$(".ext").css('font-size','25pt');
	}

<% var jQueryLogic = function(userNum) { %>

	$("#user<%= userNum %>_buy").click(function() {
		user[<%= userNum %>].buy($('#user' + <%= userNum %> + '_menuPurchaseID').html());
		$("#user<%= userNum %>_confirm").fadeToggle(300).delay(2000).fadeToggle(300);
	});
	$("#user<%= userNum %>_remove").click(function() {
		user[<%= userNum %>].remove($('#user' + <%= userNum %> + '_menuPurchaseID').html());
		$("#user<%= userNum %>_confirm").fadeToggle(300).delay(2000).fadeToggle(300);
	});

	$("#user<%= userNum %>_gotoOrder").click(function() {
		user[<%= userNum %>].upMenu = "#user<%= userNum %>_menuMain";
		user[<%= userNum %>].currentMenu = "#user<%= userNum %>_currentOrder";
		user[<%= userNum %>].clearMenus(<%= userNum %>);
		$("#user<%= userNum %>_currentOrder").css("display","block");
	});

	$("#user<%= userNum %>_gotoTrivia5").click(function() {
		$.genQuestion(<%= userNum %>, $.newQuestionNum());
		$("#user<%= userNum %>_confirmAnswer").css('display','none');
		$("#user<%= userNum %>_menuTrivia").css('display','block');
	});
	$("#user<%= userNum %>_gotoGames1").click(function() {
		user[<%= userNum %>].upMenu = "#user<%= userNum %>_menuGames";
		user[<%= userNum %>].currentMenu = "#user<%= userNum %>_menuTrivia";
		user[<%= userNum %>].clearMenus(<%= userNum %>);
		$.genQuestion(<%= userNum %>, $.newQuestionNum());
		$("#user<%= userNum %>_menuTrivia").css('display','block');
	});
	// TODO: fix this. does it go up a nav level or what?
	// TODO: checks client ID
	$("#user<%= userNum %>_gotoBack").click(function() {
		user[<%= userNum %>].clearMenus(<%= userNum %>);
		$(user[<%= userNum %>].upMenu).css("display","block");
		// TODO: doesn't go exactly where it should
		switch (user[<%= userNum %>].upMenu) {
			case "#user<%= userNum %>_menuFood" :
				user[<%= userNum %>].upMenu = "#user<%= userNum %>_menuMain";
				user[<%= userNum %>].currentMenu = "#user<%= userNum %>_menuFood";
				break;
			default :
				console.log("fired default");
				user[<%= userNum %>].upMenu = "#user<%= userNum %>_menuMain";
				user[<%= userNum %>].currentMenu = "#user<%= userNum %>_menuMain";
		}
	});

<% } %>

	<%
	jQueryLogic(1);
	jQueryLogic(2);
	jQueryLogic(3);
	jQueryLogic(4);
	%>

	var trivia = [
		{
			id : 0,
			q : "What is the capital of Mongolia?",
			a : "Ulan Bator",
			a1 : "Tashkent",
			a2 : "Kathmandu",
			a3 : "Nangahar",
			a4 : "Ulan Bator"
		},
		{
			id : 1,
			q : "Who was the first 'Accidental President'?",
			a : "John Q. Adams",
			a1 : "John Tyler",
			a2 : "Gerald Ford",
			a3 : "John Q. Adams",
			a4 : "James Garfield",
		}
	];

	$.newQuestionNum = function () {
		var randomQNum = Math.floor(Math.random() * trivia.length);
		return randomQNum;
	};

	$.genQuestion = function(userNum, randomQNum) {
		console.log(randomQNum);
		console.log(trivia.length);
		$("#user" + userNum + "_triviaQ").html(trivia[randomQNum].q);
		$("#user" + userNum + "_triviaQ").attr("title", trivia[randomQNum].a);
		$("#user" + userNum + "_triviaA1").html(trivia[randomQNum].a1);
		$("#user" + userNum + "_triviaA2").html(trivia[randomQNum].a2);
		$("#user" + userNum + "_triviaA3").html(trivia[randomQNum].a3);
		$("#user" + userNum + "_triviaA4").html(trivia[randomQNum].a4);
	};

	$.checkAnswer = function(userNum, guess) {
		if ($("#user" + userNum + "_triviaQ").attr("title") == $("#user" + userNum + "_triviaA" + guess).html()) {
			$("#user" + userNum + "_confirmAnswer").html('You got it right!');
		}
		else {
			$("#user" + userNum + "_confirmAnswer").html('You got it wrong. :(');
		}
		$("#user" + userNum + "_confirmAnswer").css('display','block');
	};

});
</SCRIPT>