<!-- TODO: validate data, pword 8 chars -->

<form method="POST" action="/register">

<CENTER><TABLE WIDTH="100%" HEIGHT="100%" CLASS="login" BORDER=0><TR><TD VALIGN="top" ALIGN="center">
<BR />
<SPAN CLASS="header">Register a New Admin User</SPAN><BR /><BR />

<TABLE CELLPADDING=10>
<TR><TD ALIGN="right" WIDTH="35%"><label for="firstname">first name</label></TD>
<TD><input type="text" name="firstname" id="firstname" class="login"></TD>
<TR><TD ALIGN="right"><label for="lastname">last name</label></TD>
<TD><input type="text" name="lastname" id="lastname" class="login"></TD></TR>
<TR><TD ALIGN="right"><label for="email">email</label></TD>
<TD><input type="text" name="email" id="email" placeholder=" email@email.com" class="login"></TD></TR>
<TR><TD ALIGN="right"><label for="password">password</label></TD>
<TD><input type="password" name="password" id="password" class="login" placeholder=" (at least 8 chars)"></TD></TR>

<TR><TD COLSPAN=2 ALIGN="center"><BR /><BUTTON type="submit" CLASS="login">register</BUTTON></TD></TR>
</TABLE>
    
</form>
<TR><TD COLSPAN=2 ALIGN="center" STYLE="height: 1em;">powered by Hermes</TD></TR>
</TABLE></CENTER>